/* style pour centrer l'image et cacher les autres */
img{
    width: 40%;
    height: 10%;
  }
  .slide {
    display: none;
    text-align: center;
  }
  /* style pour le bouton suivant */
  #next {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 18px;
    padding: 16px;
    transform: translate(0, -50%);
  }
  /* style pour le bouton précédent */
  #prev {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 18px;
    padding: 16px;
    transform: translate(0, -50%);
  }
  .breadcrumb {
    /*centering*/
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag; 
  }
  
  .breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 36px;
    padding: 0 10px 0 60px;
    position: relative;
  }
  @media screen and (max-width:700px){
    img{
        width: 100%;
    }
    .navbar-nav {
      flex-direction: column;
      text-align: center;
      margin-left:10%
    }
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  }