
body{
    background-color: aliceblue;
    width: 100%;
}

 .container {
    display: flex;
    justify-content: space-between;
} 
.koffi,.leon,.stell{
    object-fit: contain;
    background-size:contain;
    height: 80%;
    width: 100%;

}
.koffi{
    margin-left: -8%;
}
.leon{
    margin-left: -6%;
}
.stell{
    margin-left: -1%;
}
.description {
    text-align: center;
    margin-top: 30px;
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 70%;
    height: 10%;
    margin-left: 10%;
    margin-right: 25%;
  }
  

.bureau{
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify
}

.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 36px;
	padding: 0 10px 0 60px;
	position: relative;
}
@media (max-width: 810px) {
    .container {
        flex-direction: column;
}
    .description{
        width: 50%;
        font-size: 13px;
        margin-top: 30px;
        margin-right: 23%;
        margin-left: 25%;
        margin-bottom: 30px;
    } 
    .bureau{
    margin-left: 6%;
    margin-right: 6%;
    } 
    .navbar-nav {
        flex-direction: column;
        text-align: center;
      }
      .navbar-nav .nav-item {
        margin-bottom: 10px;
      }
      .image{
        max-width: 90%;
        height: 50%;
        text-align: center;
        margin-left: 5%;
    }
    .description{
        margin-left: 24%;
        margin-top: 20px;
    }
}
