
.title{
    text-align: center;
    margin-bottom: 10px;
    background-color: beige;
}
.bea0{
    color: gold;
}
nav{
    width: 100%;
    background-color:blue; /* Couleur de fond */
    padding: 0px 20px; /* Espacement intérieur */
    justify-content: space-between; /* pour l'alignement des éléments à droite et à gauche */

}
nav li{
    margin-right: 10px
}
nav a{
    padding: 50px;
    margin-top: 10rem;
    text-decoration: none; /* Supprimer la soulignement des liens */
    font-size: 1.2em; /* Taille de police */
}
nav ul{
    display:flex;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    height: 5rem;
    justify-content: center;
}

.footer{
    background-color:antiquewhite; 
    color: black;
    max-width: 100%;
    display: grid;
    height: 40%;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}
.tel,  .contact{
    margin-left:40%;
}
.apropos{
    text-align: center;
}
.paragraphe{
    text-align: justify;
    margin-left: 20px;
} 
.lien{
    font-family: 'Verdana', sans-serif;
}
.lien:hover{
    color:darkgreen;
}
.email, .inst, .face,.lien, li a, .seyna a{
    text-decoration: none;
}
.email, .inst, .face,.lien, li a{
    color: black;
}
.inst, .face,.lien{
    font-weight: lighter;
}
.bi-facebook{
    color: blue;
}

.bi-instagram{
    color: rgba(185, 58, 121, 0.653);
}

.bea1:hover,.bea2:hover,.bea3:hover, .bea0:hover{
    font-size: 25px;
    color:crimson;
}

.ban:hover{
    color: gold;
}
  
.img-fluid{
    width: 100%; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    display: block; /* pour centrer l'image horizontalement */
    margin: 0 auto; /* pour centrer l'image horizontalement et verticalement */
    }
.logo{
    position: absolute;
    top: 500px;
    width: 130px;
}
.seyna a, .seyna{
    color: white;
}

.seyna{
    background-color: #333;
    text-align: center;
    margin-bottom: 0;
    
}

@media screen and (max-width:700px) {
    nav ul{
        width: 100%;
    }
    .footer{
        grid-template-columns: 1fr;
}
.paragraphe{
    max-width: 100%;
        margin-left: 10%;
    margin-right: 10%;
} 
.tel,  .contact{
    margin-left:16%;
}
.apropos, .tel,.contact, .lien{
    text-align: center;
}
}
