body {
    overflow-x: hidden;
}
  

header h2{
    background-image: url(images/IMG_2666.JPG);
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
 }

  header h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px #333;
 }


.footer{
    background-color:antiquewhite; 
    color: black;
    max-width: 100%;
    display: grid;
    height: 40%;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.tel{
    margin-left:40%;
}
.contact{
    margin-left:40%;
}
.apropos, .title{
    text-align: center;
}
.paragraphe{
    text-align: justify;
    margin-left: 20px;
} 
.lien{
    font-family: 'Verdana', sans-serif;
}
.lien:hover{
    color:darkgreen;
}
.email, .inst, .face,.lien, li a, .seyna a{
    text-decoration: none;
}
.email, .inst, .face,.lien, li a{
    color: black;
}
.inst, .face{
    font-weight:400
}
.lien{
    font-weight: lighter;
}
.bi-facebook{
    color: blue;
}

.bi-instagram{
    color: rgba(185, 58, 121, 0.653);
}

.seyna a, .seyna{
    color: white;
}

.seyna{
    background-color: #333;
    text-align: center;
    margin-bottom: 0;
    
}


@media screen and (max-width:700px) {
    .info{
        margin-right: 20%;
    }
    .footer{
        grid-template-columns: 1fr;
}
.paragraphe{
    max-width: 100%;
        margin-left: 6%;
    margin-right: 6%;
} 
.tel,  .contact{
    margin-left:16%;
}
.apropos, .tel,.contact, .lien{
    text-align: center;
}
body{
    overflow-x:  hidden;
}
.navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
