body{
    background-color:aliceblue;
        overflow-x: hidden;
}
.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 36px;
	padding: 0 10px 0 60px;
	position: relative;
}

.card-img-top{
    object-fit: cover;
    background-size: contain; 
    height: 20em;  
}
.card {
    border: 1px solid #ccc;
    margin: 20px;
}
footer, .pres,.card {
    text-align: center;
}
.logo {
    max-width: 90%;
}
.activite{
    background-color:lightgray;
    box-sizing: border-box;
      
}
.card-title{
    font-size: 16px;
}
.pres{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.card-title::first-letter{
    color: chocolate;
}
  @media screen and (max-width:700px){
        body{
            overflow-x: hidden;
        }
        .navbar-nav {
            flex-direction: column;
            text-align: center;
            margin-left:10%
          }
          .navbar-nav .nav-item {
            margin-bottom: 10px;
          }
          .card{
          padding: 0;
          white-space:normal
          }
          .activite{
                box-sizing: border-box;
                max-width: 100%;
                padding: 0;
          }
          .pres{
            margin-left: 5%;
            margin-right: 5%;
          }
          .breadcrumb a{
            font-size: 13px;
          }
        }